# Python
__pycache__/
*.pyc
venv/
*.egg-info/

# Data
*.duckdb
*.duckdb.wal
/data/

# Environment
.env
.env.local

# dbt
logs/
target/
dbt_packages/
.user.yml

# Prefect
.prefect/

# dlt
.dlt/

# Evidence
.evidence
.svelte-kit
evidence/build
evidence/sources/analytics/analytics.duckdb
evidence/static/data
*.options.yaml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
node_modules/

# npm
.npmrc